body {
  font-family: 'Roboto', sans-serif;
}


div.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row-m-t {
  margin-top : 20px;
}

/* .tab-pane {
  overflow: auto;
}

.my-custom-scrollbar-data-val {
position: absolute;
overflow: auto;
}
.table-wrapper-scroll-y-data-val {
display: block;
}

.my-custom-scrollbar-results {
position: absolute;
height: 77vh;
overflow: auto;
}
.table-wrapper-scroll-y-results {
display: block;
} */

.container-0padding {
  padding: 12px;
  height: 77vh;
  overflow-y: auto;
}
