<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EMiLIA, an Extensive Machine Learning Interpretation and Analysis tool</title>
    {% include 'base/css.html' %}
  </head>
  <body>
    <nav class="navbar navbar-dark" style="background-color: #9270ff">
      <div class="container-fluid">
        <a id="page-title" class="navbar-brand" href="/">EMiLIA</a>
        
  </div>
      </div>
    </nav>
      {% block content %}
      {% endblock content %}
    </div>
    {% include 'base/js.html' %}
    {% block jquery %}
    {% endblock %}
  </body>
</html>
