{% extends 'base.html' %}

<script>
{% block jquery %}
{% endblock %}
</script>

{% block content %}
<div class='container-fluid'>
<div class='row justify-content-center'>
  <div class='col-4 my-5 text-center'>
    <h1>Welcome to EMiLIA</h1>
    <p class="description"> An <b>E</b>xtensive <b>M</b>achine <b>L</b>earning <b>I</b>nterpretation and <b>A</b>nalysis application</p>
    <span class="lower">
    <p class-"statement">An application developed to support researchers in their daily work.</p>
  </span>
</div>
<div class='row justify-content-center'>
  <div class='col-4 my-5 text-center'>
    <a class="btn btn-primary" href="/new-run/" role="button">New run</a>
  </div>
  <div class='col-4 my-5 text-center'>
    <a class="btn btn-primary" href="/dashboard/" role="button">Dashboard</a>
  </div>
</div>

{% endblock content %}
